<a href="https://colab.research.google.com/github/estheroni/Data-Science/blob/main/Test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
url="https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
fuel_data=pd.read_csv(url, error_bad_lines=False)

In [6]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [17]:
A.extend(B)

In [18]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [21]:
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [24]:
fuel_data["fuel_qty_burned"].skew()

15.851495469109503

In [25]:
fuel_data["fuel_qty_burned"].kurt()

651.3694501337732

In [27]:
(180/29343)	*100

0.6134342091810653

In [32]:
fuel_data.sort_values("fuel_cost_per_unit_burned")

                      record_id  ...  fuel_cost_per_mmbtu
7733    f1_fuel_2000_12_194_3_3  ...               -8.906
7736    f1_fuel_2000_12_194_3_6  ...               -5.635
7730   f1_fuel_2000_12_194_2_15  ...               -3.978
11242   f1_fuel_2003_12_281_1_4  ...               -5.750
2123    f1_fuel_1995_12_194_5_9  ...               -3.186
...                         ...  ...                  ...
22991    f1_fuel_2012_12_7_7_13  ...                0.976
21483    f1_fuel_2011_12_7_7_13  ...                1.046
24577   f1_fuel_2014_12_177_2_7  ...               13.445
20719   f1_fuel_2011_12_132_1_2  ...               14.207
25127   f1_fuel_2014_12_147_0_2  ...               22.577

[29523 rows x 11 columns]

In [40]:
cost_delivered=fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()
cost_delivered.sort_values()

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

In [42]:
fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [44]:
((287.154420-63.636060)/287.154420)*100

77.83908045016337

In [45]:
(287.154420/63.636060)-1

3.5124481308239384